
        <tr <% if current_user && User.find(session[:user_id]).voted_for?(item) %> id="colored" <% end %>>
            <td>
             <div class="/circle">
              <% if current_user %>
                  <% if !User.find(session[:user_id]).voted_for? item %>
                      <%= form_for( item, :url => vote_item_path(:id => item.id), :html => { :method => :post } ) do |f| %>
                          <%= f.submit "Color" %>
                      <% end %>
                  <% else %>
                      <%= form_for( item, :url => unvote_item_path(:id => item.id), :html => { :method => :post } ) do |f| %>
                          <%= f.submit "Uncolor" %>
                      <% end %>
                  <% end %>
              <% else %>
                  <%= button_to "Color", log_in_to_vote_index_path, :method => :get %>
              <% end %>
            </div>
            </td>
            <td> <i class="fa fa-quote-left fa-2x pull-left fa-border"> <%= item.post %> <i class="fa fa-quote-right fa-1x pull-left fa-border"></i> </i>  </td> 
            <td><%= item.tag %></td>
            <td><%= format_timesince(item.created_at) %></td>
            <td id="delete_tag">
              <% if can_delete(item.created_at,item.user.to_i) %>
                  <%= link_to '✘', item_path(item), :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            </td>
        </tr>