
        <tr <% if current_user && User.find(session[:user_id]).voted_for?(item) %> id="colored" <% end %>>
            <td>
             <div class="/circle">
              <% if current_user %>
                  <% if !User.find(session[:user_id]).voted_for? item %>
                      <%= form_for( item, :url => vote_item_path(:id => item.id), :html => { :method => :post } ) do |f| %>
                          <%= f.submit "Color" %>
                      <% end %>
                  <% else %>
                      <%= form_for( item, :url => unvote_item_path(:id => item.id), :html => { :method => :post } ) do |f| %>
                          <%= f.submit "Uncolor" %>
                      <% end %>
                  <% end %>
              <% else %>
                  <%= button_to "Color", log_in_to_vote_index_path, :method => :get %> 
              <% end %>
	     <%= item.cached_votes_up %>
            </div>
            </td>
            <td width:20px> <i class="fa fa-quote-left pull-left fa-2x align-left"> </i> </td>
            <td> <%= item.post %>  </td> 
            <td width:20px > <i class="fa fa-quote-right fa-2x align-right"></i> </td>
            <td>#<%= item.tag %></td>
            <td><%= format_timesince(item.created_at) %></td>
            
            <td id="delete_tag">
              <% if can_delete(item.created_at,item.user_id) %>
                  <%= link_to '✘', item_path(item), :confirm => 'Are you sure?', :method => :delete %><br>
                  <%= link_to '✉', messages_popup_path(:user_id =>item.user_id),:onclick=>"window.open(this.href,'create_company', 'height=300, width=600');return false;"%>
              <% end %>

              
            </td>
        </tr>
