<head>
 <title> Welcome to Spotted! ;) </title>
  <!--testing piviotla-->
  <%= stylesheet_link_tag "main.css" %>
</head>
<body>	
<div id="Poster">

</div>


<div id ="Side_Nav">
 <div id="Button_Group_Left">
    <div  id="Button_Post">
      <a class="btn btn-lg btn-success " href="#">
      <i class="fa fa-comment fa-2x pull-left"></i><%><br></a>
    </div>
    <div id="Button_Login">

      <a class="btn btn-lg btn-success "  color:"white" href="">
     
      <i class="fa fa-facebook fa-2x pull-left"></i> 
            <% if current_user %>
          <%= link_to "Sign Out?", signout_path, id: "sign_out" %>
        <% else %>
           <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        <% end %> 
      <br></a>

    </div>

    <div id="Button_Filter">
      <a class="btn btn-lg btn-success "  href="#">
      <i class="fa fa-search fa-2x pull-left"></i> Filter<br></a>
    </div>

    <div id="Button_Profile">
      <a class="btn btn-lg btn-success "  href="#">
      <i class="fa fa-users fa-2x pull-left"></i>My Page<br></a>

    </div>


  

 </div>
</div>

<div id ="Side_Nav_R">
 
</div>





<!--


<div id="PostQ">

  <p>Want to Post?</p>

</div>

<div id="Post_Bar">
   <% if current_user %>
        <h3 id="post">Make A Post</h3>
        <%= form_for :item do |f| %>

            <div id ="tagform"; class="rounded-corners">
            Tag: <%= f.text_field :tag%><br />
            </div>

            <div id="postform">
              Post: <%= f.text_field :post%><br />
              <%= f.submit "Post", :id => 'submit_button' %>
            </div>
        <%end%>
    <%else%>

        <br id="Not_Logged_In">
        Please login to post
        <br>
    <%end%>
    </div>
  
</div>
</div>
-->

<div id="Post_Section">
  <!-- 
  <div id="Filter_Section">
    <h1>Sort by:     <%= sortable "created_at", "Date" %> <%= sortable "tag", "Tag" %>     <%= sortable "cached_votes_up", "Votes" %> </h1>
  </div>

  Sorting links -->
    
    
    <!-- Populates Items -->
 
  <!--dont change this div id it will break shit -->
    <table class="PostIndex" id="items">
        <tr>
          <th>Upvotes</th>
          <th></th>
          <th>Posts </th>
          <th></th>
          <th>Where</th>
          <th>   When</th>
          <th></th>
        </tr>
      <%= render @items %>
    </table>
  <%= will_paginate @items %>
</div>


</body>
