<head>
  <!--testing piviotla-->
  <%= stylesheet_link_tag "main.css" %>
  <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
  <script type="text/javascript">
      $(function(){
          $(".circle").click(function(){
              $(this).css("background", "#58488A");
          });
      });
  </script>

  <title> Welcome to Spotted! </title>

</head>
<body>


	
	<div id="Head_Bar">

			<h1 >  <%= link_to " Spotted", items_path, id:"logo"  %></h1>

      <div id="Filter_Box">
        FILTER!


      </div>

			<div id="Facebook_Login">			 
		
       <% if current_user %>

          <div id ="Logged_In">
	   			   Welcome <strong> <%= current_user.name %> </strong>!   
        	<%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
          
    		<% else %>
          
          <div id="Login_Button_Container"> 
            
            <div id="Login_Button">

        	 <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  		      </div>

        </div>

        <% end %>	
    </div>
</div>

<div id="PostQ">

  <p>Want to Post?</p>

</div>

<div id="Post_Bar">
  <% if current_user %>
        <h3 id="post">Make A Post</h3>
        <%= form_for :item do |f| %>

            <div id ="tagform"; class="rounded-corners">
            Tag: <%= f.text_field :tag%><br />
            </div>

            <div id="postform">
              Post: <%= f.text_field :post%><br />
              <%= f.submit "Post", :id => 'submit_button' %>
            </div>
        <%end%>
    <%else%>

        <br id="Not_Logged_In">
        Please login to post
        <br>
    <%end%>
    </div>
</div>

<div id="Post_Section">
  <!-- Sorting links -->
<%= sortable "created_at", "Date" %>
<%= sortable "tag", "Tag" %>
<%= sortable "cached_votes_up", "Votes" %>
  <!-- Populates Items -->
  

</div>
  <%= render "items" %>
<!-- this is the page listing -->
<%= will_paginate @posts %>

</body>