<head>
  <!--testing piviotla-->
  <%= stylesheet_link_tag "main.css" %>
  <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
  <script type="text/javascript">
      $(function(){
          $(".circle").click(function(){
              $(this).css("background", "#58488A");
          });
      });
  </script>

  <title> Welcome to Spotted! </title>

</head>
<body>


	
	<div id="Head_Bar">

			<h1 id="Logo"> Spotted </h1>
			 
			<div id="Facebook_Login">			 
		
       <% if current_user %>

          <div id ="Logged_In">
	   			   Welcome <strong> <%= current_user.name %> </strong>!   
        	<%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
          
    		<% else %>
          
          <div id="Login_Button_Container"> 
            
            <div id="Login_Button">

        	 <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  		      </div>

        </div>

        <% end %>	
    </div>
</div>

<div id="PostQ">

  <p>Want to Post?</p>

</div>

<div id="Post_Bar">
  <% if current_user %>
        <h3 id="post">Make A Post</h3>
        <%= form_for :item do |f| %>

            <div id ="tagform"; class="rounded-corners">
            Tag: <%= f.text_field :tag%><br />
            </div>

            <div id="postform">
              Post: <%= f.text_field :post%><br />
              <%= f.submit "Post"%>
            </div>

        <%end%>
    <%else%>
        <br>
        Please login to post
        <br>
    <%end%>
    </div>
</div>

<div id="Post_Section">
  <% @items.each do |t| %>
    <div id="Post1" class="shadow">
      <table>
        <tr>
          <td> 
            <% if current_user %>
                <% if !User.find(session[:user_id]).voted_for? t %>
                    <%= form_for( t, :url => vote_item_path(:id => t.id), :html => { :method => :post } ) do |f| %>
                        <%= f.submit "Color" %>
                    <% end %>
                <% else %>
                    <%= form_for( t, :url => unvote_item_path(:id => t.id), :html => { :method => :post } ) do |f| %>
                        <%= f.submit "Uncolor" %>
                    <% end %>
                <% end %>
            <% else %>
                <%= button_to "Color", log_in_to_vote_index_path, :method => :get %>
            <% end %>
          </td>
          <td> Total Votes: <%= t.votes.size %> </td>
          <td><%= '#' +t.tag %></td>
          <td><%= t.post %></td>
          <td><%= format_timesince(t.created_at) %></td>
          <td id="delete_tag">
            <% if can_delete(t.created_at,t.user.to_i) %>
                <%= link_to '✘', item_path(t), :confirm => 'Are you sure?', :method => :delete %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>

</div>

<!-- this is the page listing -->
<%= will_paginate @posts %>

</body>