<head>
  <!--testing piviotla-->
  <%= stylesheet_link_tag "main.css" %>
  <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
  <script type="text/javascript">
      $(function(){
          $(".circle").click(function(){
              $(this).css("background", "#58488A");
          });
      });
  </script>

  <title> Welcome to Spotted! </title>

</head>
<body>


	
	<div id="Head_Bar">

			<h1 id="Logo"> Spotted </h1>
			 
			<div id="Facebook_Login">			 
		
       <% if current_user %>

          <div id ="Logged_In">
	   			   Welcome <strong> <%= current_user.name %> </strong>!   
        	<%= link_to "Sign out", signout_path, id: "sign_out" %>
          </div>
          
    		<% else %>
          
          <div id="Login_Button_Container"> 
            
            <div id="Login_Button">

        	 <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

  		      </div>

        </div>

        <% end %>	
    </div>
</div>

<div id="Post_Bar">

</div>

<div id="Post_Section">

  <div id="Post1">
    

       <%= link_to  image_tag('Speech_bubbleb.png'), id:"cbubble1" %> 
  </div>

  <div id="Post2">
        <%= link_to image_tag('Speech_bubblebr.png'), id:"cbubble2" %> 
  </div>

   <div id="Post3">
       <%= link_to image_tag('Speech_bubbleb.png'), id:"cbubble3" %> 
  </div>

  <div id="Post4">
       <%= link_to image_tag('Speech_bubblebr.png'), id:"cbubble4" %> 
  </div>

</div>


			
			
			
	
</body>