<% if current_user %>
  <h3> Welcome <%= current_user.uid %> </h3>
  <h5> This is your profile page, here you can change things and stuff </h5>
<% else %>
  <h1> Turn around now, you shouldn't be able to get here when you are not logged in! </h1>

<% end %>
<%=render "conversations/conversation" %>
<%=render "messages/send" %>
<h1><%= current_user.name%></h1>
sender: <%= current_user.mailbox.inbox.first.messages.first.sender.name%>
subject:<%= current_user.mailbox.inbox.first.messages.first.subject %>
body: <%= current_user.mailbox.inbox.first.messages.first.body %>
